.list {
  display: flex;
  justify-content: space-between;
}

.list-item {
  list-style: none;
  padding: 5px;
}

.item-img {
  height: 250px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}